.forum-regular {
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: forum, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ad8b3a;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 5px 0;
}

input, select, button {
    padding: 8px;
    margin: 5px 0;
}

button {
    background: #ad8b3a;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #ad8b3a;
}
